<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="监控管理">
    <meta name="author" content="yjq">
    <title>@ViewBag.Title-监控管理</title>
    <link href="~/lib/SBAdmin2/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/SBAdmin2/vendor/metisMenu/metisMenu.css" rel="stylesheet" />
    <link href="~/lib/SBAdmin2/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/lib/SBAdmin2/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/layer/src/skin/default/layer.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Style", false)
</head>
<body>
    @RenderBody()
    <script src="~/lib/SBAdmin2/vendor/jquery/jquery.js"></script>
    <script src="~/lib/SBAdmin2/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/SBAdmin2/vendor/metisMenu/metisMenu.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validation.message.zh.js"></script>
    <script src="~/lib/layer/src/layer.js"></script>
    <script src="~/lib/SBAdmin2/dist/js/sb-admin-2.js"></script>
    <script src="~/js/utils/publicUtil.js"></script>
    @RenderSection("Script", false)
</body>
</html>
