@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="监控管理">
    <meta name="author" content="yjq">
    <title>404-监控管理</title>
    <style type="text/css">
        body {
            margin: 0;
            background-color: #2b2727;
            background-position: center -200px;
            background-repeat: no-repeat;
            font-size: 1.0625rem;
        }

        .Error {
            color: #f8b700;
            font-family: wow,Blizzard,sans-serif;
        }

        body.preload * {
            transition: none !important;
        }

        .Error {
            padding: 5rem 0 2.5rem;
            text-align: center;
        }

        .Forum-button {
            -ms-flex-align: center;
            align-items: center;
            border-color: transparent;
            border-radius: 0;
            border-style: solid;
            border-width: 1px;
            cursor: pointer;
            display: -ms-flexbox;
            display: flex;
            font-family: Blizzard,sans-serif;
            font-size: 1.0625rem;
            font-weight: 400;
            height: 2.5rem;
            line-height: 1.5;
            padding: 0 1rem;
            text-align: center;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            white-space: nowrap;
        }

        .Error .error-type {
            font-size: 9.5rem;
        }

        .Error .error-issue {
            color: #fff;
            font-size: 4.5rem;
            margin-bottom: 4.5rem;
        }

        .Error .error-button-row {
            display: -ms-inline-flexbox;
            display: inline-flex;
        }

        .Error .Forum-button {
            background-color: rgba(159,22,0,.6);
            border-color: #ea3012;
            box-shadow: 0 0 0 1px #000;
            color: #f8b700;
            font-size: 1.25rem;
            height: 3.5rem;
            padding: 0 1.5rem;
        }

        .Theme--wow .Forum-button {
            border-radius: 0;
            box-shadow: 0 0 0 1px #000;
            font-family: Blizzard,sans-serif;
            text-transform: uppercase;
        }

        a {
            color: -webkit-link;
            cursor: auto;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <section class="Error">

        <div class="error-type">404</div>
        <div class="error-issue">Page Not Found</div>

        @*<div class="error-button-row">
            <a class="Forum-button" href="/forums/en/wow/" type="button">
                <span class="Button-content">Return to Forums<i class="Icon"></i></span>
            </a>
        </div>*@
    </section>

</body>
</html>
