@model SysConfigPageQueryWhere
<div class="row">
    <div class="col-sm-12" style="border-bottom: 1px solid #eee;background-color: #F3F3F3;padding:10px 0 10px 0;">
        <input type="hidden" asp-for="PageIndex" />
        <label class="ml-20">Key:<input type="text" asp-for="ConfigKey" class="form-control input-sm"></label>
        <input type="submit" class="form-control input-sm btn btn-info ml-15" value="查询" onclick="RestPageIndex()" />
    </div>
</div> 