@model DatabaseModel
@{
    ViewData["Title"] = "修改数据库";
    Layout = "~/Views/Shared/_Layout_Edit.cshtml";
    var model = Model;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post" id="EditForm">
                @Html.Partial("_Modify",Model)
            </form>
        </div>
    </div>
</div>
@section Script{
    <script type="text/javascript">
        $("#EditForm").submit(function () {
            if (!$("#EditForm").valid()) { return false; }
            AjaxRequest({
                type: this.method,
                url: this.action,
                data: $(this).serialize()
            }, function (successData) {
                ShowSuccess("操作成功", function () {
                    top.Refresh();
                    CloseWinSelf();
                });
            }, function (failData) {
            });
            return false;
        })
    </script>
}