<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="File" name="Public" fileName="${basedir}/App_Data/Public/${level}/${shortdate}.log" layout="${time} ${message}" />
    <target xsi:type="File" name="Microsoft" fileName="${basedir}/App_Data/Microsoft/${level}/${shortdate}.log" layout="${time} ${message}" />
    <!--<target xsi:type="File" name="Login" fileName="${basedir}/App_Data/NLogs/Login/${shortdate}.log" layout="${time} ${message}" />-->
    <!--<target xsi:type="File" name="Wallet" fileName="${basedir}/App_Data/NLogs/${level}/${shortdate}/${logger:shortName=true}.log" layout="${longdate} ${message}" />-->
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>
  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <rules>
    <!-- add your logging rules here -->
    <logger name="JQCore.Public.*" minlevel="Debug"  maxlevel="Fatal" writeTo="Public"> </logger>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="Microsoft" final="true" />
    <!--<logger name="BT.Login.*" minlevel="Debug"  maxlevel="Fatal" writeTo="Login"> </logger>-->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>