@model ServicePageQueryWhere
<div class="row">
    <div class="col-sm-12" style="border-bottom: 1px solid #eee;background-color: #F3F3F3;padding:10px 0 10px 0;">
        <label class="ml-20">名字:<input type="text" asp-for="Name" class="form-control input-sm"></label>
        <label class="ml-20">Mac地址:<input type="text" asp-for="MacAddress" class="form-control input-sm"></label>
        <label class="ml-20">IP地址:<input type="text" asp-for="IP" class="form-control input-sm"></label>
        <input type="button" class="form-control input-sm btn btn-info ml-15" value="查询" />
    </div>
</div> 