
@{
    ViewData["Title"] = "添加";
    Layout = "/Views/Shared/_Layout_Edit.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="col-md-offset-1 col-md-10">
                <div class="form-group input-group">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon col-md-4">名字</span>
                    <input class="form-control" type="text" placeholder="Disabled input">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon col-md-4">名字</span>
                    <input class="form-control" type="text" placeholder="Disabled input">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon col-md-4">名字</span>
                    <input class="form-control" type="text" placeholder="Disabled input">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon col-md-4">名字</span>
                    <input class="form-control" type="text" placeholder="Disabled input">
                </div>
                <div class="form-group btn-group col-md-offset-5">
                    <button type="submit" class="btn btn-primary ">Disabled Button</button>
                </div>
            </form>
        </div>
    </div>
</div>
